<div class="upload">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="uploadContainer">
            <input type="file" name="image">
        </div>
         <div class="uploadContainer">
            <input type="text" name="title" placeholder="title de la imagen">
        </div>
         <div class="uploadContainer">
            <input type="text" name="description" placeholder="description">
        </div>
           <div class="uploadContainer">
            <button>Publicar</button>
        </div>
        
    </form>
</div>